{#
/**
 * Copyright (C) 2020 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends "authed.twig" %}
{% import "inline.twig" as inline %}

{% block pageContent %}

    <div class="row">
        <div class="col-md-12">
            <h1>{{ "Welcome to your Xibo Content Management System"|trans }}</h1>
            <p>{{ "The Content Management System (CMS) is where you come to manage your Digital Signage network, whether that is looking at your Display activity or creating content."|trans }}</p>
            <div class="alert alert-info">
                <button id="startTour" class="btn btn-xs btn-success pull-right">{{ "Start Tour"|trans }}</button>
                {{ "You can take a tour of the CMS and its Design capailities"|trans }}
            </div>
            <h2>{{ "Core Concepts"|trans }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="widget">
                <div class="widget-title"><i class="fa fa-desktop"></i>{{ "Displays"|trans }}</div>
                <div class="widget-body medium">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget">
                <div class="widget-title">{{ "Library"|trans }}</div>
                <div class="widget-body medium">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="widget">
                <div class="widget-title">{{ "Layouts"|trans }}</div>
                <div class="widget-body medium">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget">
                <div class="widget-title">{{ "Scheduling"|trans }}</div>
                <div class="widget-body medium">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javaScript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#startTour").on("click", function() {
                restartTour(window.tour, true);
            });
        });
    </script>
{% endblock %}